/* Aspectos Gerais */
body {
    width: 1200px; /* Tamanho fixo da página inteira */
    margin: 0 auto; /* Centraliza a página horizontalmente */
    font-family: sans-serif; /* Fonte sans-serif para a página inteira */
}

p {
    text-indent: 1em; /* Indenta os parágrafos em 1em */
}

/* Títulos */
h1, h2, h3 {
    text-align: center; /* Alinhamento dos títulos para o centro */
}

h1 {
    font-size: 1.8rem; /* Tamanho do h1 */
}

h2 {
    font-size: 1.4rem; /* Tamanho do h2 */
}

h3 {
    font-size: 1.2rem; /* Tamanho do h3 */
}

/* Seções de Resumo e Principal */
.resumo {
    text-align: center; /* Alinhamento centralizado para a seção de resumo */
}

.principal p {
    line-height: 1.5; /* Espaçamento entre linhas de 1.5 para os parágrafos da seção principal */
}

/* Abreviaturas */
abbr {
    font-variant: small-caps; /* Fonte em small-caps para todas as abreviaturas */
}
